<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Application Configuration -->
    <add key="ApplicationVersion" value="4.3.5"/>
    <add key="BuildType" value="Dev"/>
    <add key="DebugLevel" value="0"/>

    <!-- Webservice Configuration -->
    <add key="CmunePassPhrase" value="s2a542av1a5d21"/>
    <add key="CmuneInitVector" value="C15netodx9234d67"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
