<h2 class="dlgHeader">
    <p>
        Unity 3D Plugin</p>
</h2>
<div class="dlgContent">
    <div class="dlgBody">
        Installation
    </div>
</div>
     <div class="dlgButtons">
            Installation
            <input type="button" onclick="Shadowbox.close()" value="close" />
        </div>
