@{
    Layout = "~/Views/Xd/_Layout.cshtml";
}
@section HeaderSection{
    <title>Cross-Domain Receiver Page</title>
}
<script src="http://static.ak.facebook.com/js/api_lib/v0.4/XdCommReceiver.js?v2" type="text/javascript"></script>