<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="sendGridSettings" type="SendGridSdk.Models.SendGridConfigurationSection, SendGridSdk"/>
  </configSections>
  <appSettings>
    <add key="CmuneAPIKey" value="dev"/>
    <add key="NLogSource" value="8"/>
    <add key="NLogBuild" value="1"/>
    <add key="CustomLogPath" value="C:\CmuneLog\"/>
    <add key="CustomLogIsEnable" value="True"/>
    <add key="DebugBatch" value="True"/>
    <add key="LocalCachePath" value="C:\Batch\LocalCache\"/>
    <add key="EmailAlertFrom" value="noreply@cmune.com"/>
    <add key="EmailAlertTo" value="lee@cmune.com"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="UnityExceptionTrackingIntervalInMinutes" value="5"/>
    <add key="UnityExceptionTrackingCountLimitPerMinute" value="60"/>
    <add key="UnityExceptionTrackingUrl" value="http://ws.instrumentation.dev.uberstrike.com/4.3.4/Application/StopExceptionTracking"/>
  </appSettings>

  <sendGridSettings smtpServer="smtp.sendgrid.net" apiUser="Cmune" apiKey="cmune$1"/>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <nlog autoReload="true" throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="mail" xsi:type="Mail" smtpServer="67.228.44.4" from="noreply@cmune.com" to="logger@cmune.com" subject="[NLog][${event-context:logSource}][${event-context:environment}][${event-context:logTime}]" body="&lt;b&gt;Log Type Name&lt;/b&gt;: ${event-context:logTypeName}&lt;br /&gt;&lt;br /&gt;&lt;b&gt;Error Location&lt;/b&gt;: ${event-context:errorLocation}&lt;br /&gt;&lt;br /&gt; &lt;b&gt;Error&lt;/b&gt;: ${event-context:error}&lt;br /&gt;&lt;br /&gt; &lt;b&gt;Incoming Datas&lt;/b&gt;: ${event-context:incomingDatas}&lt;br /&gt;" html="true"/>
      <!--<target name="mail" xsi:type="Mail" smtpServer="67.228.44.4" from="noreply@cmune.com" to="logger@cmune.com" subject="[NLog][${event-context:logSource}][${event-context:environment}][${event-context:logTime}]" body="&lt;b&gt;Log Type Name&lt;/b&gt;: ${event-context:logTypeName}&lt;br /&gt;&lt;br /&gt;&lt;b&gt;Error Location&lt;/b&gt;: ${event-context:errorLocation}&lt;br /&gt;&lt;br /&gt; &lt;b&gt;Error&lt;/b&gt;: ${event-context:error}&lt;br /&gt;&lt;br /&gt; &lt;b&gt;Incoming Datas&lt;/b&gt;: ${event-context:incomingDatas}&lt;br /&gt;" html="true"/>-->
      <target name="file" xsi:type="File" layout="${event-context:logTime} ${event-context:message}${newline}" fileName="${event-context:fileName}"/>
    </targets>
    <rules>
      <logger name="*" level="Info" writeTo="file"/>
      <logger name="*" level="Debug" writeTo="mail"/>
      <logger name="*" level="Warn" writeTo="mail"/>
      <logger name="*" level="Error" writeTo="mail"/>
    </rules>
  </nlog>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
