<div id="selectPaymentStepContent">
    <div style="margin-top:50px; margin-bottom:50px; width:400px; margin-left:auto; margin-right:auto; text-align:center;">
        Thanks! If you made a transaction return to the 'UberStrike HD' client to refresh your balance.
    </div>
</div>