<div id="DeleteUserUpdatePanel">
    <form id="deleteMemberGo" method="post" action="">
    @ Html.Hidden("memberCmid")
    @Html.Hidden("memberName")
    @Html.Hidden("memberEmail")
    <p style="padding-top: 15px; text-align: center;">
        Are you sure you want to delete this user?<br />
        <br />
        <input type="submit" id="deleteUserButton" onclick="deleteMemberGo(); return false;"
            value="Delete" />
        <input type="button" id="cancelUserButton" value="Cancel" onclick="Shadowbox.close()" />
    </p>
    <span style="width: 95%; text-align: center; display: block;"></span>
    @Html.TextArea("deletememberExplanation", "If you wish you can say a few words to this user explaining why you are deleting his account:")
    </form>
</div>