<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cmune.Instrumentation.Monitoring.DataAccess.Properties.Settings.CmuneMonitoringConnectionString"
            connectionString="Data Source=192.168.1.200;Initial Catalog=CmuneMonitoring;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Cmune.Instrumentation.Monitoring.DataAccess.Properties.Settings.CmuneMonitoringConnectionString1"
            connectionString="Data Source=192.168.1.200;Initial Catalog=CmuneMonitoring;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Cmune.Instrumentation.Monitoring.DataAccess.Properties.Settings.CmuneMonitoringConnectionString2"
            connectionString="Data Source=192.168.1.200;Initial Catalog=CmuneMonitoring;User ID=sa;Password=cmune$1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
