<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Cmune.Server.Miniverse.ParadisePaintball.Forum.DAL.Properties.Settings.MvParadisePaintballForumConnectionString" connectionString="Data Source=174.37.48.14,1433;Initial Catalog=MvParadisePaintballForum;Persist Security Info=True;User ID=MvParadisePaintballDbo;Password=CmuneMaster$1" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
