<div>
    <input type="button" onclick="$('#debugContainer').toggle()" value="Debug" style="cursor: pointer;" />
</div>
<div id="debugContainer" style="display: none; overflow: scroll;">
    <div>
        Environment : @ViewBag.Environment
    </div>
    <div>
        ChannelType : @ViewBag.ChannelType
    </div>
    <div>
        Cmid : @ViewBag.Cmid
    </div>
    <div>
        FacebookThirdPartId : @ViewBag.FacebookThirdPartId
    </div>
</div>
