<div class="niceDiv">
    <h1>
        Item deprecation</h1>
    <div>
        <div>
            Get me the pricing for item id : @Html.TextBox("ItemId") <input type="button" onclick="LoadItemPricing($('#ItemId').val())" value="Find"/>
        </div>
        <div id="ItemDeprecationPricing">
        </div>
    </div>
</div>
