<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cmune.Instrumentation.DataAccess.Properties.Settings.InstrumentationConnectionString"
            connectionString="Data Source=174.129.77.245;Initial Catalog=Instrumentation;Persist Security Info=True;User ID=InstrumentationDbo"
            providerName="System.Data.SqlClient" />
        <add name="Cmune.Instrumentation.DataAccess.Properties.Settings.InstrumentationConnectionString1"
            connectionString="Data Source=DESKTOP-LNSADFU;Initial Catalog=Instrumentation;Persist Security Info=True;User ID=InstrumentationDbo"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>