@{
    Layout = "_ErrorLayout.cshtml";
}
<div id="errorPage" style="width:700px; margin-top:150px; margin-bottom:150px; margin-left:auto; margin-right:auto;">
    <img src="@Url.Image("panda.png")" alt="Panda" class="left" />
    <h2 class="left" style="margin:15px 0 0 20px;">    
        Page not found!<br /><br />
    </h2>
</div>