<div class="main_page_content">
    <a href="" onclick="LoadHomePage(); return false;" class="darkGray">Go Back to game</a>
    <div class="panel_default">
        <div class="panel_header">
            Complete offers and earn credits for free!
        </div>
        <div class="panel_item panel_guide">
            @if (!ViewBag.HasError)
            {
                <h2>
                    Hi @ViewBag.Name, please note that it may take up to 24 hours before credits are
                    applied to your profile.</h2>
            }
            else
            { 
                <p>
                    <span class="lightError">We were unable to load the payment.</span>
                </p>
            }
        </div>
    </div>
    <div class="clear">
    </div>
    @if (!ViewBag.HasError)
    {
        <div class="superRewardsOffers">
            <div style="z-index: 0; height: 40px; text-align: center;">
                <img src="@Url.Image("loader.gif")" alt="Loading offers..." />
            </div>
            <div style="height: 2100px;">
                <iframe src="http://www.superrewards-offers.com/super/offers?h=@(ViewBag.SuperRewardsApplicationId)&uid=@(ViewBag.FacebookThirdPartyId)&custom_d=@(ViewBag.DeveloperId)&custom_c=@(ViewBag.Cmid)&custom_h=@(ViewBag.Hash)" frameborder="0" width="728" height="2144" scrolling="no" style="position:relative; top:-40px; left:0px;z-index:5;">
                </iframe>
            </div>
        </div>
    }
</div>
