<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cmune.ParadisePaintball.DataCenter.DataAccess.Properties.Settings.MvParadisePaintballConnectionString"
            connectionString="Data Source=DESKTOP-LNSADFU;Initial Catalog=MvParadisePaintball;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="UberStrike.DataCenter.DataAccess.Properties.Settings.MvParadisePaintballConnectionString"
            connectionString="Data Source=DESKTOP-LNSADFU;Initial Catalog=MvParadisePaintball;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="UberStrike.DataCenter.DataAccess.Properties.Settings.MvParadisePaintballConnectionString1"
            connectionString="Data Source=DESKTOP-LNSADFU;Initial Catalog=MvParadisePaintball;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
