@{
    ViewBag.Title = "UberStrike - Create an account";
}

<div class="panel_default" style="margin-top:50px; margin-bottom:50px; width:200px; margin-left:auto; margin-right:auto;">
    <div class="panel_header">
        Error
    </div>
    <div style="margin: 5px; text-align:center;">
        We cannot find your account, please create an account directly in UberStrike HD
    </div>
</div>