@{
    ViewBag.Title = "Index";
    Layout = null;
}
<div id="iframePageContainer" style="overflow: scroll" >
    <div style="text-align: center;">
        <br />
        @Html.ImageTag(Url, "KongregateChannel/ajax-loader-kongregate.gif")
    </div>
    <div>
        <div style="text-align: center;">
            <iframe src="@Url.CommonChannelUrl()Ranking?channelType=@(ChannelType.Kongregate)" 
            allowtransparency="true" frameborder="0" width="728" height="2100" scrolling="no" style="position:relative; top:-50px; left:0px;z-index:5;">
            </iframe>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#iframePageContainer").height(GetUnityHeight());
</script>