<?xml version="1.0" encoding="Windows-1252"?>
<!--
	(c) 2010 by Exit Games GmbH, http://www.exitgames.com
	Photon server configuration file.
	For details see the photon-config.pdf.
-->

<Configuration>
  <!-- Multiple instances are supported. Each instance has its own node in the config file. -->
  <!-- PhotonControl will currently only start "Instance1" but the .cmd files could be modified to start other instances. -->

  <!-- Instance settings -->
  <CommServerLocal
		EnablePerformanceCounters = "true"
		DataSendingDelayMilliseconds="50"
		AckSendingDelayMilliseconds="50"
		PerPeerMaxReliableDataInTransit="16384"
		PerPeerTransmitRateLimitKBSec="128"
		MaxQueuedDataPerPeer="65536"
		MinimumTimeout="5000"
		MaximumTimeout="30000">
    <IOPool/>

    <ThreadPool
			InitialThreads="4"
			MinThreads="4"
			MaxThreads="4">
    </ThreadPool>

    <!-- Using the same value for initial, min and max makes the pool fixed size, which allows optimizations. -->
    <ENetThreadPool
			InitialThreads="2"
			MinThreads="2"
			MaxThreads="2">
    </ENetThreadPool>

    <!-- 0.0.0.0 opens listeners on all available IPs. Machines with multiple IPs should define the correct one here. -->
    <!-- Port 5055 is Photon's default for UDP connections. -->
    <UDPListeners>
      <UDPListener
				IPAddress="0.0.0.0"
				Port="5055">
      </UDPListener>
    </UDPListeners>

    <!-- Defines the Photon Runtime Assembly to use. -->
    <Runtime
      Assembly="PhotonHostRuntime, Culture=neutral"
      Type="PhotonHostRuntime.PhotonDomainManager"
      UnhandledExceptionPolicy="Ignore">
    </Runtime>

    <!-- Defines which applications are loaded on start and which of them is used by default. Make sure the default application is defined. -->
    <!-- Application-folders must be located in the same folder as the bin_win32 folders. The BaseDirectory must include a "bin" folder. -->
    <Applications Default="Communication">

      <!-- Photon Application -->
      <Application
				Name="Communication"
				BaseDirectory="Application"
				Assembly="UberStrike.Realtime.Photon.CommServer"
				Type="UberStrike.Realtime.CommServer.CommApplication"
				EnableAutoRestart="true"
				WatchFiles="dll;config"
				ExcludeFiles="log4net.config">
      </Application>

    </Applications>
  </CommServerLocal>
</Configuration>
