<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="facebookSettings" type="Facebook.FacebookConfigurationSection" />
    <section name="sendGridSettings" type="SendGridSdk.Models.SendGridConfigurationSection, SendGridSdk" />
  </configSections>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtursiveJavaScriptEnabled" value="true" />
    <add key="CommonChannel" value="http://localhost/CommonChannel/" />
    <add key="ImagesRoot" value="http://static.cmune.com/CommonChannel/Content/images/" />
    <add key="CommonVideoRoot" value="http://static.cmune.com/CommonChannel/Content/videos/" />
    <add key="LocalhostIP" value="192.168.1.200" />
    <add key="Environment" value="Dev" />
    <add key="CmuneAPIKey" value="dev" />
    <add key="appsAPIKey" value="dev" />
    <add key="UberstrikeForumUrl" value="http://forum.uberstrike.com/" />
    <add key="WordPressEnabled" value="True" />
    <add key="WordPressFeedURL" value="http://blog.uberstrike.com/?feed=rss2" />
    <add key="WordPressFeeds" value="5" />
    <add key="PhpBBSecretKey" value="123" />
    <add key="DefaultCulture" value="en-US" />
    <add key="InstrumentationWsBaseUrl" value="http://ws.instrumentation.dev.uberstrike.com/4.3.7/Cmune.svc/" />
    <add key="UnityBuild" value="1" />
    <add key="UnityWebPlayerUrl" value="" />
    <add key="WindowsStandaloneUrl" value="" />
    <add key="MacAppStoreLink" value="macappstore://itunes.apple.com/app/id412709220?mt=12" />
    <add key="WindowsStandaloneFileName" value="" />
    <add key="CookieDomainName" value="" />
    <add key="PortalCookieName" value="cmuneCookie3" />
    <add key="FacebookCookieName" value="cmuneFacebookCookie" />
    <add key="CmunePassPhrase" value="s2a542av1a5d21" />
    <add key="CmuneInitVector" value="C15netodx9234d67" />
    <add key="NLogSource" value="1" />
    <add key="NLogBuild" value="1" />
    <add key="BetaLogin" value="betauser" />
    <add key="BetaPassword" value="darkphoenix" />
    <add key="UberstrikeStagingAccessCookie" value="CmuneUberstrikeStagingAccess" />
    <add key="IsPasswordProtected" value="False" />
    <add key="GoogleAnalyticsTrackingId" value="" />
    <add key="PublishVersion" value="A333" />
    <add key="PortalUrl" value="http://dev.uberstrike.com/" />
    <add key="CustomLogPath" value="C:/CmuneLog/" />
    <add key="CustomLogIsEnable" value="True" />
    <add key="AuthenticationEncryptPassPhrase" value="s2a542av1a5d21" />
    <add key="AuthenticationEncryptInitVector" value="C15netodx9234d67" />
  </appSettings>
  
  <nlog autoReload="true" throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="mail" xsi:type="Mail" smtpServer="67.228.44.4" from="noreply@cmune.com" to="logger@cmune.com" subject="[NLog][${event-context:logSource}][${event-context:environment}][${event-context:logTime}]" body="&lt;b&gt;Log Type Name&lt;/b&gt;: ${event-context:logTypeName}&lt;br /&gt;&lt;br /&gt;&lt;b&gt;Error Location&lt;/b&gt;: ${event-context:errorLocation}&lt;br /&gt;&lt;br /&gt; &lt;b&gt;Error&lt;/b&gt;: ${event-context:error}&lt;br /&gt;&lt;br /&gt; &lt;b&gt;Incoming Datas&lt;/b&gt;: ${event-context:incomingDatas}&lt;br /&gt;" html="true" />
      <target name="file" xsi:type="File" layout="${event-context:logTime} ${event-context:info} " fileName="${event-context:fileName}" />
    </targets>
    <rules>
      <logger name="*" level="Info" writeTo="file" />
      <logger name="*" level="Debug" writeTo="mail" />
      <logger name="*" level="Warn" writeTo="mail" />
      <logger name="*" level="Error" writeTo="mail" />
    </rules>
  </nlog>

  <facebookSettings appId="200262233344833" appSecret="ec76fdc01f92db257f2ab17d569f4ace" />

  <sendGridSettings smtpServer="smtp.sendgrid.net" apiUser="Cmune" apiKey="cmune$1" />

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/" name="UberStrike_Portal" timeout="2880" />
    </authentication>

    <sessionState cookieName="UberStrike_Portal_Session" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpRuntime enableVersionHeader="false" requestValidationMode="2.0" />
    <customErrors mode="Off" defaultRedirect="~/Error/">
      <error statusCode="404" redirect="~/Error/NotFound" />
    </customErrors>
    <httpHandlers>
      <add verb="*" path="facebookredirect.axd" type="Facebook.Web.FacebookAppRedirectHttpHandler, Facebook.Web" />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="facebookredirect.axd" verb="*" path="facebookredirect.axd" type="Facebook.Web.FacebookAppRedirectHttpHandler, Facebook.Web" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="P3P" value="CP=&quot;ALL ADM DEV PSAi COM OUR OTRo STP IND ONL&quot;" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>