@import url("util.css");
body
{
     background-color: #242424;
}

body #errorPage
{
   
    color: white;
    font-size: 14px;
    font-family: segoe ui, Arial,Helvetica,sans-serif;
    padding: 0px;
    width:728px;
    margin:auto;
}
