.panel_default
{
    background-color: #1e1e1e;
    border: 1px solid #4d4d4d;
    color:white;
}

.panel_default_clear
{
    background-color: #FFFFFF;
}

.panel_default_invisible
{
    color:White;
}

.panel_header
{
    background-image: url('/CommonChannel/Content/images/panel_Header_Background.jpg');
    background-repeat: repeat-x;
    padding: 0px 14px;
    height: 45px;
    line-height: 48px;
    font-size: 17px;
    font-weight: bold;
    color: #FFF;
    text-align: left;
}

.panel_header #uberstrikeUserName
{
    color: #FEC42C;
    font-size: 20px;
    font-weight: bold;
}

.panel_header_clear
{
    padding:0px 12px;
    height: 45px;
    line-height: 48px;
    font-size: 17px;
    font-weight: bold;
    color: #a6a6a6;
    text-align: left;
}


.panel_bar
{
    color: #A6A6A6;
    text-align: center;
    background-color: #363636;
    padding: 10px 0px;
}

.panel_body
{
    
    text-align: left;
    padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}


.profileStat
{
    width:229px;
}

.profileStat td
{
    padding:2px 5px;
}

.profileStat th
{
    padding:2px 5px 2px 5px;
    color:#FEC42C;
    text-align:center;
}

.profileStat .grid, .rankingTable .grid
{
    background-color:#636262;
}

h3
{
    color: #FEC42C;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    margin: 10px 0 10px 0;
    text-indent: 4px;
}

.rankingMenuContainer
{
	font-size:14px;
}

.rankingMenuSelected
{
	font-weight:bold;
	color:#EEE;
}

.rankingMenu
{
	cursor:pointer;
	font-weight:normal;
	color:#EEE;
}

.rankingTable
{
    width:500px;
    margin-top:25px;
    margin-bottom:25px;
    margin-left:auto;
    margin-right:auto;
}

.rankingTable td
{
    padding:2px 5px 2px 5px;
    text-align:right;
}

.rankingTable th
{
    padding:2px 5px 2px 5px;
    color:#FEC42C;
    text-align:center;
}

.rankingTable a
{
    color:#9F9F9F;
}

.pagination
{
	width:280px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.pagination a
{
    color:#9F9F9F;
    text-decoration:none;
}

.selectedPageAnchor
{
    color:#000;
    background-color:#FEC42C;
}

.pageAnchor
{
    padding:5px 5px 5px 5px;
}
