h1
{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.45em;
}


/* CMUNE HEADER
----------------------------------------------------------*/

.panel_default
{
    background-color: #1e1e1e;
    border: 1px solid #4d4d4d;
}

.panel_default_clear
{
    background-color: #FFFFFF;
}

.panel_header
{
    background-image: url('/CommonChannel/Content/images/panel_Header_Background.jpg');
    background-repeat: repeat-x;
    padding: 0px 14px;
    height: 45px;
    line-height: 48px;
    font-size: 17px;
    font-weight: bold;
    color: #FFF;
    text-align: left;
}

.panel_header_clear
{
    padding: 0px 12px;
    height: 45px;
    line-height: 48px;
    font-size: 17px;
    font-weight: bold;
    color: #a6a6a6;
    text-align: left;
}

.panel_bar
{
    color: #A6A6A6;
    text-align: center;
    background-color: #363636;
    padding: 10px 0px;
}

.panel_body
{
    text-align: left;
    padding: 10px;
}

.panel_body .label
{
    display: inline-block;
    width: 150px;
}

.panel_body .mini_label
{
    display: inline-block;
    width: 60px;
}

.panel_item
{

    border-top: 1px solid #595959;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 20px;
    padding-left: 12px;
}

.panel_item .panel_item_header
{
    padding: 0px;
    margin: 0px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.panel_item .panel_item_textcontent
{
    padding: 0px;
    padding-right: 15px;
    margin: 0px;
    color: #a5a5a5;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.45em;
}

.panel_item .panel_item_tag
{
    float: right;
    margin-right: 6px;
    margin-top: 3px;
    padding: 2px;
    color: #404040;
    background-color: #888;
    font-size: 10px;
    font-weight: 300;
    text-transform: capitalize;
    clear: right;
}

.panel_item .panel_item_date
{
    float: right;
    padding-right: 8px;
    padding-bottom: 6px;
    margin: 0px;
    color: #888;
    font-size: 10px;
    font-style: italic;
    font-weight: normal;
}

.panel_item .panel_item_textcontent A:link
{
    color: #FEC42C;
    text-decoration: underline;
}

.panel_item .panel_item_textcontent A:visited
{
    color: #FEC42C;
    text-decoration: underline;
}

.panel_item .panel_item_textcontent A:active
{
    color: #FEC42C;
    text-decoration: underline;
}

.panel_item .panel_item_textcontent A:hover
{
    color: #FEC42C;
    text-decoration: underline;
}

.panel_overlay
{
    height: 100%;
    background-color: #5C5C5C;
    opacity: 0.6;
    position: relative;
}

.cmune_header
{
    padding: 0px;
    margin: 0px;
    background: #000000;
    background-image: url("/CommonChannel/Content/images/cmuneHeader_Background_S2.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 32px;
}

.cmune_header_logo
{
    float: left;
    background-image: url("/CommonChannel/Content/images/cmuneHeader_Logo.jpg");
    background-repeat: no-repeat;
    margin: 7px 0 0 25px;
    padding: 0px;
    width: 99px;
    height: 18px;
}

.cmune_header_servertime
{
    float: right;
    background-image: url("/CommonChannel/Content/images/cmuneHeader_ServerTime.jpg");
    background-repeat: no-repeat;
    margin: 6px 6px 0 0;
    padding: 0px;
    width: 164px;
    height: 22px;
}

.cmune_header_servertime_text
{
    margin: 5px 6px 0 0;
    padding: 0px;
    font-size: 12px;
    font-weight: bold;
    color: #172139;
    text-align: right;
}

.cmune_header_tabarea
{
    float: left;
    margin: 0 0 0 20%;
    padding: 0px;
    height: 18px;
}

.cmune_header_tab
{
    float: left;
    margin: 0 1px 0 1px;
    padding: 0 10px 0 10px;
    height: 16px;
    border: 1px solid #474644;
    background-image: url("/CommonChannel/Content/images/cmuneHeader_TabButtonBackground.png");
    background-repeat: repeat-x;
    font-size: 12px;
    font-weight: bold;
    color: #cbcbcb;
    text-align: center;
}

.homeLink
{
    display: block;
    background-image: url("/CommonChannel/Content/images/cmuneHeader_Home.png");
    width: 18px;
    height: 16px;
}

.homeLink:hover
{
    background-position: 0 -16px;
}

.cmune_header_tab A:link
{
    color: #cbcbcb;
    text-decoration: none;
}

.cmune_header_tab A:visited
{
    color: #cbcbcb;
    text-decoration: none;
}

.cmune_header_tab A:active
{
    color: #cbcbcb;
    text-decoration: none;
}

.cmune_header_tab A:hover
{
    color: #cccccc;
    text-decoration: underline;
}

.cmune_header_tab_app
{
    float: left;
    margin: 0px 1px 0px 1px;
    padding: 0px 4px 0px 4px;
    height: 16px;
    border: 1px solid #474644;
    background-image: url("/CommonChannel/Content/images/cmuneHeader_TabButtonBackground.jpg");
    background-repeat: repeat-x;
    font-size: 11px;
    font-weight: bold;
    color: #999999;
    text-align: center;
}

.cmune_header_tab_app A:link
{
    color: #999999;
    text-decoration: none;
}

.cmune_header_tab_app A:visited
{
    color: #999999;
    text-decoration: none;
}

.cmune_header_tab_app A:active
{
    color: #999999;
    text-decoration: none;
}

.cmune_header_tab_app A:hover
{
    color: #bbbbbb;
    text-decoration: underline;
}

/* MAIN PAGE
----------------------------------------------------------*/

.main_page
{
    margin: 0px;
    padding: 0px;
    background: url('/CommonChannel/Content/images/PortalChannel/backgroundFinal-portal.jpg') no-repeat scroll center top #000000;
    min-height:1000px;
}

.main_page_frame
{
   
}

.main_page_banner
{
    height: 120px;
    margin: 0px;
    padding: 0px;
}

.main_page_navbar
{
    background-image: url("/CommonChannel/Content/images/cmuneHeader_Background_reverse.jpg");
    background-repeat: repeat-x;
    border: 1px solid #4D4D4D;
    height: 37px;
    margin: 0;
}

.main_page_navbar_tab
{
    float: left;
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #9F9F9F;
    margin: 11px 15px 0 15px;
}

.main_page_container
{
    width:989px;
    padding: 0px 2px 2px 2px;
    margin:auto;

}

.homeNavTabLink
{
    display: block;
    float: left;
}

.main_page_content
{
    background-image: url('');
    background-repeat: no-repeat;
}

.main_footer
{
    margin-top:8px;
    padding: 0px;
    margin-left:auto;
    margin-right:auto;
    background-image: url('/CommonChannel/Content/images/cmuneHeader_Background.jpg');
    background-repeat: repeat-x;
    border: 1px solid #4d4d4d;
    height: 37px;
}

.main_footer_tab
{
    padding: 0px 12px 0px 12px;
    height: 18px;
    margin: 13px 0 0 0;
    font-size: 11px;
    font-weight: bold;
    color: #9f9f9f;
    text-align: center;
}

.main_footer_tab A:link
{
    color: #9f9f9f;
    text-decoration: none;
}

.main_footer_tab A:visited
{
    color: #9f9f9f;
    text-decoration: none;
}

.main_footer_tab A:active
{
    color: #9f9f9f;
    text-decoration: none;
}

.main_footer_tab A:hover
{
    color: #cccccc;
    text-decoration: underline;
}

.div#unityPlayer
{
    cursor: default;
    position: inherit;
    width: 989px;
    height: 660px;
}

#socialNetworksDiv
{
    text-align: center;
}

#socialNetworksDiv a
{
    display: block;
    margin: 9px;
    width: 62px;
    height: 62px;
    background-repeat: no-repeat;
    float: left;
}

#socialNetworksDiv a:hover
{
    background-position: 0 -62px;
}

/* INSTALL FLOW
----------------------------------------------------------*/

.install_container a
{
    color: #CCCCCC;
}

.install_container
{
    height: 520px;
    border: 10px solid #993300;
    color: #000;
    background: #fff;
}

.install_bottom
{
    background: #444;
    overflow: hidden;
    padding: 3px;
}

/* OVERRIDES
----------------------------------------------------------*/

.cmuneInput
{
    font-family: Segoe UI, Arial;
    font-size: 12px;
    font-weight: normal;
    background: #FFFFFF;
    color: #666666;
    border: 2px solid #323232;
    padding: 2px;
    margin: 4px;
}

body
{
    background: #000000;
    font-size: .80em;
    font-family: "Segoe UI" , "Arial" , "Helvetica" , "Verdana" , "sans-serif" , "Helvetica Neue" , "Lucida Grande";
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
}

body A:link
{
    text-decoration: none;
}

body A:visited
{
    color: #9f9f9f;
    text-decoration: none;
}

body A:active
{
    color: #9f9f9f;
    text-decoration: none;
}

body A:hover
{
    color: #cccccc;
    text-decoration: underline;
}

h2
{
    color: #FEC42C;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin: 10px 0 10px 0;
    text-indent: 25px;
}

h3
{
    color: #FEC42C;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    margin: 10px 0 10px 0;
    text-indent: 45px;
}

h4
{
    color: #FEC42C;
    font-size: 13px;
    font-weight: normal;
    text-align: left;
    margin: 10px 0 10px 0;
    text-indent: 65px;
}

/* GENERICS
----------------------------------------------------------*/

.standard_checkbox
{
    padding: 4px 4px 4px 4px;
    background: #303030;
    color: #a5a5a5;
    border: 2px solid #737373;
    margin: 4px;
}

.standard_checkbox A:link
{
    color: #a5a5a5;
    text-decoration: none;
}

.standard_checkbox A:visited
{
    color: #a5a5a5;
    text-decoration: none;
}

.standard_checkbox A:active
{
    color: #a5a5a5;
    text-decoration: none;
}

.standard_checkbox A:hover
{
    color: #afafaf;
    text-decoration: underline;
}

.button
{
    background: #303030;
    color: #a5a5a5;
    border: 2px solid #737373;
    margin: 4px;
}

.start_button
{
    height: 135px;
    margin: 0px 28px 0px 28px;
    padding: 0px;
}

.start_button A:link
{
    color: #000000;
    text-decoration: none;
}

.start_button A:visited
{
    color: #000000;
    text-decoration: none;
}

.start_button A:active
{
    color: #000000;
    text-decoration: none;
}

.start_button A:hover
{
    color: #000000;
    text-decoration: none;
}

.fright
{
    float: right;
}

.fleft
{
    float: left;
}

.clear
{
    clear: both;
}

.lightError
{
    color: #d72a13;
}

.lightConfirmation
{
}

.superRewardsOffers
{
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 728px;
}

/*** google videos ***/

.playerInnerBox_gsvb .player_gsvb
{
    width: 320px;
    height: 260px;
}

#portalAjaxLoader
{
    line-height: 30px;
    margin-right: 10px;
    display: none;
}

/* Profile */

.profileStat
{
    width: 229px;
}

.profileStat td
{
    padding: 2px 5px;
}

.profileStat th
{
    padding: 2px 5px 2px 5px;
    color: #FEC42C;
    text-align: center;
}

/* Profile end */

/* Ranking */

.rankingMenuContainer
{
    font-size: 14px;
}

.rankingMenuSelected
{
    font-weight: bold;
    color: #EEE;
}

.rankingMenu
{
    cursor: pointer;
    font-weight: normal;
    color: #EEE;
}

.rankingTable
{
    width: 500px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.rankingTable td
{
    padding: 2px 5px 2px 5px;
    text-align: right;
}

.rankingTable th
{
    padding: 2px 5px 2px 5px;
    color: #FEC42C;
    text-align: center;
}

/* End ranking */

/* Sign Up page */

#SignUPPage
{
    font-weight: bold;
    width: 80%;
    margin: auto;
}

#SignUPPage .panel_body
{
    padding: 20px;
    height: 540px;
}

#SignUPPage ul
{
    list-style-type: disc;
    width: 160px;
    float: left;
    margin-left: 15px;
}

#SignUPPage .littlelabel
{
    color: #A6A6A6;
    font-weight: bold;
    font-size: 14px;
    padding-right: 10px;
}

#SignUPPage .facebookConnect
{
    position: relative;
    top: 135px;
}

#SignUPPage .signupInput
{
    width: 200px;
    border: 1px solid black;
}

#SignUPPage a.Continue
{
    text-decoration: none;
}

#SignUPPage p.termsOfService
{
    color: #A6A6A6;
}

#SignUPPage p.termsOfService a
{
    text-decoration: underline;
    color: #A6A6A6;
}

#SignUPPage #signUpForm
{
    margin-left: 45px;
}

#SignUPPage .termsOfService
{
    width: 250px;
    margin: 20px 0px 0px 00px;
}

#SignUPPage .validation-summary-errors
{
    color: Red;
}

#SignUPPage .validation-summary-success
{
    color: Green;
}

/* end sign up page */

/* Pagination */

.pagination
{
    width: 280px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.selectedPageAnchor
{
    color: #000;
    background-color: #FEC42C;
}

.pageAnchor
{
    padding: 5px 5px 5px 5px;
}

/* End pagination */

/* Feed */

#DisplayRssFeedContainer p
{
    padding-top: 10px;
}

.mainPageContentLeft
{
    float: left;
    margin: 8px 0 0 0px;
    width: 250px;
}

.mainPageContentLeftStart
{
    margin: 14px 0px 0px 0px;
    text-align: center;
}

.mainPageContentLeftLost
{
    text-align: right;
    margin: 10px 8px 8px 0;
    font-size: 11px;
    color: #CCCCCC;
}

.mainPageContentLeftFB
{
    margin: 8px 0 12px 0;
    text-align: center;
}

.mainPageContentLeftYouTube
{
    text-align: center;
}

.mainPageContentMid
{
    float: left;
    margin: 8px 0 0 8px;
    width: 469px;
}

.mainPageContentRightPromotion
{
    float: left;
    margin: 8px 0 0 8px;
    width: 254px;
}
.mainPageContentRight
{
    margin: 8px 0 0 0;
}

.startButtonRollover a
{
    display: block;
    width: 157px;
    background-image: url("/CommonChannel/Content/images/start_buttons.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 116px;
    margin: auto;
    margin-bottom: 20px;
}

.startButtonRollover a:hover
{
    background-position: 0 -116px;
}
.startButtonRollover a:active
{
    background-position: 0 -232px;
}

/* Download */

.downloadContainer
{
	margin:31px 75px 90px 75px;
	
}

.downloadLink
{
	font-size:20px;
}

.downloadLinkLegend
{
	text-align:left;
	text-indent:16px;
	margin-top:5px;
}

.downloadLinkContainer
{
	float:right;
	width:330px;
	padding:10px;
	text-align:center;
	height:340px;
}

.downloadButtonContainer
{
	background-color:#4b4b4b;
	padding-top:8px;
	padding-bottom:8px;
}

.downloadExplanationContainer h1
{
	font-size:12px;
	font-weight:bold;
	color:#4b4b4b;
	margin-top:15px;
}

.downloadExplanationContainer
{
	text-align:left;
	font-size:12px;
	line-height:1.25;
}

.downloadExplanationContainer a:link
{
    color:#FEC42C;
    text-decoration:none;
}

.downloadExplanationContainer a:visited
{
    color: #FEC42C;
    text-decoration:none;
}

.downloadExplanationContainer a:active
{
    color:#FEC42C;
    text-decoration:none;
}

.downloadExplanationContainer a:hover
{
    color:#FEC42C;
    text-decoration:underline;
}

/* */