<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Cmune.DataCenter.Forum.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
    <applicationSettings>
      <Cmune.DataCenter.Forum.Business.Properties.Settings>
        <setting name="phpBBSecretKey" serializeAs="String">
          <value>123</value>
        </setting>
        <setting name="ForumManager_PhpBBSync_phpBBSync" serializeAs="String">
          <value>http://forum.uberstrike.com/webServices/server.php</value>
        </setting>
      </Cmune.DataCenter.Forum.Business.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
