<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="sendGridSettings" type="SendGridSdk.Models.SendGridConfigurationSection, SendGridSdk" />
  </configSections>
  <appSettings>
    <!-- Application Configuration -->
    <add key="ApplicationVersion" value="4.3.6"/>
    <add key="BuildType" value="Dev"/>
    <add key="DebugLevel" value="0"/>
    <add key="WebserviceBaseUrl" value="http://ws.dev.uberstrike.com/4.3.6/"/>
    <add key="InstrumentationBaseUrl" value="http://ws.instrumentation.dev.uberstrike.com/4.3.6/"/>

    <!-- Encryption Configuration -->
    <add key="CmunePassPhrase" value="s2a542av1a5d21" />
    <add key="CmuneInitVector" value="C15netodx9234d67" />

    <!-- Mail Server Configuration -->
    <add key="SmtpIP" value="67.228.44.4"/>
    <add key="SmtpUser" value="cmuneMailer"/>
    <add key="SmtpPassword" value="cmune$1"/>
    <add key="NotificationReciever" value="photon@cmune.com"/>
    <add key="SendNotifications" value="false"/>
  </appSettings>

  <sendGridSettings smtpServer="smtp.sendgrid.net"
                apiUser="Cmune"
                apiKey="cmune$1" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
